.btn-toolbar .divider{
    width: 1px !important;
    height: 30px;
    background-color: #eee;
    margin: 0 4px;
}

.btn-toolbar {
    /* display: inline-block; */
    cursor: not-allowed;
}

.btn-toolbar button:disabled {
    pointer-events: none;
    /* Ensures the button remains disabled */
}
