/* styles/globals.css */

/* Light mode styles */
[data-bs-theme="light"] body {
    background-color: #f8f9fa;
    /* Light background for the body */
}

[data-bs-theme="light"] .container {
    background-color: #ffffff;
    /* Light background for the container */
}

/* Dark mode styles */
[data-bs-theme="dark"] body {
    background-color: #333;
    /* Dark background for the body */
}

[data-bs-theme="dark"] .container {
    background-color: #444;
    /* Slightly lighter background for the container */
}

.container {
    padding: 20px;
    transition: background-color 0.3s ease;
    /* Smooth transition for theme change */
}

body {
    transition: background-color 0.3s ease;
    /* Smooth transition for theme change */
}
.dFlex {
    display: flex;
}

.sidebar {
    padding: 15px;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 600px;
}

.resizer {
    width: 5px;
    cursor: col-resize;
    background-color: #ccc;
}

.resizer:hover {
    background-color: #888;
}

.mainContent {
    flex-grow: 1;
    padding: 16px;
}



.toolbar {
    display: inline-block;
    cursor: not-allowed;
}

.toolbar button:disabled {
    pointer-events: none;
    /* Ensures the button remains disabled */
}
.file-size-limit,
.input-error {
    color: red;
    font-size: smaller;
}

